mdi/reports/xml/report_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="report">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="textformat">
            <xs:complexType>
              <xs:complexContent mixed="false">
                <xs:extension base="textformat" />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="blockformat" type="blockformat" />
        </xs:sequence>
        <xs:element name="frame">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="frame">
                <xs:choice />
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="frame">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element minOccurs="0" maxOccurs="1" name="frame" type="frame" />
      <xs:element minOccurs="0" name="inserttext" type="insertText" />
      <xs:element minOccurs="0" name="insertblock" type="insertBlock" />
      <xs:element minOccurs="0" name="frameformat" type="frameformat" />
      <xs:element minOccurs="0" name="chart" type="chart" />
      <xs:element minOccurs="0" name="table">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="table" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="insertnontext" type="insertNonText" />
      <xs:element minOccurs="0" name="insertdatatext" type="insertDataText" />
      <xs:element minOccurs="0" name="insertdatanontext" type="insertDataNonText" />
      <xs:element minOccurs="0" name="data">
        <xs:complexType>
          <xs:attribute name="dataid" />
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="format" type="xs:string" use="optional" />
    <xs:attribute name="fname" type="xs:string" use="optional" />
    <xs:attribute name="formattype" use="optional" />
    <xs:attribute name="setBorder" use="optional" />
    <xs:attribute name="setHeight" use="optional" />
    <xs:attribute name="setWidth" use="optional" />
    <xs:attribute name="setPosition" use="optional" />
    <xs:attribute name="setMargin" use="optional" />
    <xs:attribute name="setPadding" use="optional" />
    <xs:attribute name="setBorderStyle" use="optional" />
    <xs:attribute name="datasource" use="optional" />
    <xs:attribute name="setBackground" use="optional" />
    <xs:attribute name="setTextColor" />
  </xs:complexType>
  <xs:complexType name="insertText">
    <xs:attribute name="text" type="xs:string" />
    <xs:attribute name="textformat" use="optional" />
  </xs:complexType>
  <xs:complexType name="insertBlock">
    <xs:attribute name="number" use="optional" />
    <xs:attribute name="blockformat" use="optional" />
  </xs:complexType>
  <xs:complexType name="chart">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element minOccurs="0" name="charttable" type="table" />
      <xs:element minOccurs="0" maxOccurs="1" name="frameformat">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="frameformat" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="getdata">
        <xs:complexType>
          <xs:all maxOccurs="1">
            <xs:element minOccurs="0" name="selstring">
              <xs:complexType>
                <xs:attribute name="name" use="required" />
                <xs:attribute name="type" use="required" />
                <xs:attribute name="dataid" />
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="frame" type="frame" />
            <xs:element minOccurs="0" name="table" type="table" />
          </xs:all>
          <xs:attribute name="name" use="optional" />
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="options" />
      <xs:element minOccurs="0" name="frame" type="frame" />
    </xs:all>
    <xs:attribute name="library" use="optional" />
    <xs:attribute name="name" />
    <xs:attribute name="type" />
    <xs:attribute name="outtype" use="optional" />
  </xs:complexType>
  <xs:complexType name="frameformat">
    <xs:attribute name="setBorder" use="optional" />
    <xs:attribute name="setHeight" use="optional" />
    <xs:attribute name="setWidth" use="optional" />
    <xs:attribute name="setPosition" use="optional" />
    <xs:attribute name="setMargin" use="optional" />
    <xs:attribute name="setBorderStyle" use="optional" />
    <xs:attribute name="setPadding" use="optional" />
    <xs:attribute name="format" use="optional" />
    <xs:attribute name="fname" use="optional" />
    <xs:attribute name="name" use="optional" />
    <xs:attribute name="setBorder" use="optional" />
  </xs:complexType>
  <xs:complexType name="textformat">
    <xs:attribute name="name" />
    <xs:attribute name="setFontWeight" use="optional" />
    <xs:attribute name="setFontItalic" use="optional" />
    <xs:attribute name="setFontUnderline" use="optional" />
    <xs:attribute name="setFontFamily" use="optional" />
    <xs:attribute name="setFontPointSize" use="optional" />
    <xs:attribute name="setForeground" use="optional" />
    <xs:attribute name="setBackground" use="optional" />
  </xs:complexType>
  <xs:complexType name="table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="column">
        <xs:complexType>
          <xs:attribute name="name" use="optional" />
          <xs:attribute name="type" />
          <xs:attribute name="format" use="optional" />
          <xs:attribute name="nameformat" use="optional" />
          <xs:attribute name="datasource" use="optional" />
          <xs:attribute name="imerge" use="optional" />
          <xs:attribute name="ibase" use="optional" />
          <xs:attribute name="tftype" use="optional" />
          <xs:attribute name="tformat" use="optional" />
          <xs:attribute name="tfname" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" />
    <xs:attribute name="columns" />
    <xs:attribute name="fname" use="required" />
    <xs:attribute name="ftype" />
    <xs:attribute name="setAlignment" use="optional" />
    <xs:attribute name="setCellPadding" use="optional" />
    <xs:attribute name="setCellSpacing" use="optional" />
    <xs:attribute name="data" use="optional" />
    <xs:attribute name="dictdata" use="optional" />
    <xs:attribute name="datasource" use="optional" />
    <xs:attribute name="type" use="required" />
    <xs:attribute name="arheader" use="optional" />
    <xs:attribute name="colnametf" />
    <xs:attribute name="arheadtf" />
    <xs:attribute name="celltf" />
    <xs:attribute name="arheadbf" use="optional" />
    <xs:attribute name="colConstrType" use="optional" />
    <xs:attribute name="colConstraints" use="optional" />
  </xs:complexType>
  <xs:complexType name="insertNonText">
    <xs:complexContent mixed="false">
      <xs:extension base="insertText">
        <xs:attribute name="format" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertDataText">
    <xs:complexContent mixed="false">
      <xs:extension base="insertText">
        <xs:attribute name="dict" use="optional" />
        <xs:attribute name="key" use="optional" />
        <xs:attribute name="index" use="optional" />
        <xs:attribute name="subindex" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertDataNonText">
    <xs:complexContent mixed="false">
      <xs:extension base="insertDataText">
        <xs:attribute name="format" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="moveCursor">
    <xs:attribute name="position" />
    <xs:attribute name="type" />
    <xs:attribute name="framename" use="optional" />
  </xs:complexType>
  <xs:complexType name="blockformat">
    <xs:attribute name="setAlignment" />
    <xs:attribute name="name" />
  </xs:complexType>
</xs:schema>